<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="images/logo.jpg" class="logo">
            <span class="symbol"><img src="images/logo.webp" alt="" /></span><span class="title">BegiShop</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>