<div id=" Sort ">
    <ul class="icons">
        <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
        <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
    </ul>
</div>